body {
  font-family: Helvetica Neue;
  font-size: 1.2em;
  max-width: 800px;
  margin: auto;
}
.header {
  margin: 2rem 0em 0em 2rem; 
}
.header-logo {
  height: 100px;
}
.header-title {
  margin: 0;
  text-size: 2em;
  font-weight: 200; 
}
.graphWindow {
  overflow: hidden;
}
.c3 {
  width:105%;
}
.viewer {
  max-width: 52em;
  margin: 2em auto;
  font-size: 1.rem;
}
.CodeMirror {
  font-family: Monaco, monospace;
  background: #fbfafc;
}
.line-bad {
  background-color: #F45D4C;
}
.line-warning {
  background-color: #EDE574;
}
.line-good {
  background-color: #E1F5C4;
}
